.layoutStyle{
  border-radius: 8;
  overflow: 'hidden';
  width: '100%';
  max-width: '100%';
  color: 'black';
  background-color: 'white';
}
.headerStyle{
  height: '32px';
  line-height: '32px';
  background-color: 'white';
}
.contentStyle{
  background-color: 'white';
  text-align: 'center';
}
footerStyle{
  text-align: 'center';
  background-color: 'white';
}

.header{
  display: flex;
  justify-content: flex-start;
  margin: 5px;
}
.headerOne{
  flex: 1 1 auto;
}
.headerTwo{
  flex: 4 1 auto;
}
.headerThree{
  flex: 5 1 auto;
}

.mainProducts{
  font-size: 1.5rem;
  font-weight: 400;
  margin: 5px auto;
}

.mainProductsDesc{
  font-size: 0.8rem;
  margin: 5px auto;
}

/* 公司介绍 */
.companyTitle {
  color: rgb(140, 182, 117);
  text-align: center;
  margin: 5px auto;
}
.companyDesc {
  text-indent: 2ch;
  text-align: left;
  font-family: Quattrocento Sans, sans-serif;
  font-style: normal;
  font-weight: 100;
  /* line-height: 1.5; */
}
.rowSpace{
  margin: 5px auto;
}
.companyImg{
  height: 100px;
}

/* 联系详情 */
.contact {
  width: 100%;
  font-family: Quattrocento Sans, sans-serif;
  text-align: left;
}
.contactTitle {
  font-weight: 400;
  font-size: 1.5rem;
  color: rgb(140, 182, 117);
}
.contactAddress {
  font-style: normal;
  font-size: 1.2rem;
}

/* 为移动端设置样式 */
@media screen and (max-width: 768px) {
    /* 联系详情 */
  .contact {
    width: 100%;
    font-family: Quattrocento Sans, sans-serif;
    text-align: left;
    margin-left: -25px;
  }
  .contactTitle {
    font-weight: 400;
    font-size: 0.8rem;
    color: rgb(140, 182, 117);
  }
  .contactAddress {
    font-style: normal;
    font-size: 0.6rem;
    margin: 0;
    padding: 0;
  }
}