.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
 
.containerImg {
  width: calc(50% - 10px); /* 假设图片之间有20px间隔，每张图片的宽度为50%减去每侧的间隔 */
  /* 使图片两端对齐并覆盖容器 */
  object-fit: cover; 
  margin: 5px;
}